/*
 for navbar
 */
body {
    padding-top: 5em;
}
.navbar-custom {
    background-color: #428bca !important;
    border-bottom: 1px solid #d9534f;
}

a.navbar-brand {
    color: white !important;
}

/* 
 ui.bootstrap calendar:;
 app/controllers/home/home_calendar.ctrl.js
 app/templates/home/home_calendar.html
*/
.full button span {
    background-color: #428bca;
    border-radius: 30px;
    color: black;
}

/*
templates/home_photos.html
 */

div.photo_gallery {
    margin-bottom: 20px;
}








