/*
 for navbar
 */
body {
    padding-top: 5em;
}
.navbar-custom {
    background-color: #428bca !important;
}

a.navbar-brand {
    color: white !important;
}


/* 
 ui.bootstrap calendar:;
 app/controllers/home/home_calendar.ctrl.js
 app/templates/home/home_calendar.html
*/
.full button span {
    background-color: #d9534f;
    border-radius: 30px;
    color: black;
}

/* 
  ng-file-upload:
  app/controllers/home/home_photo_ctrl.js
  app/templates/home/home_photos.html
 */

.progress {
    display: inline-block;
    width: 200px;
    height: 3em;
}

/*
templates/home_photos.html
 */

div.photo_gallery {
    margin-bottom: 20px;
}








