
<div class="row"><!-- calendar view row -->

	<!-- calendar view, first column -->
	<div class="col-sm-6">

		<div style="display:inline-block; min-height:290px;">
			<div uib-datepicker ng-model="event.date" class="well well-sm" 
			datepicker-options="options" ng-required="true"></div>
		</div>

	</div>

	<!-- user view -->
	<div class="col-sm-6">

	<!-- <p><b>Date:</b> (( event.date | date:'mediumDate' )) <b>Event:</b> (( todays_event ))</p> -->

		<!-- user view -->
		<p>
		<h4> (( profile.first_name ))'s Upcoming Events</h4>
		<ul>
			<li ng-repeat="event in user_events">
				<a ng-click="removeUserEvent(event.id)">(x)</a>
				<b>On (( event.date | date:'mediumDate' ))</b>: (( event.message ))

			</li>
		</ul>
		</p>

		<h4> (( partner.first_name ))'s Upcoming Events</h4>
		<ul>
			<li ng-repeat="event in partner_calendar">
				<b>On (( event.date | date:'mediumDate' ))</b>: (( event.message ))
			</li>
		</ul>

	</div><!-- end partner event view -->

</div><!-- end calendar row -->

<!-- add event to calendar row -->
<div class="row">

	<div class="col-sm-12">
		<form class="input-group" ng-submit="addUserEvent()">
			<input type="text" class="form-control" placeholder="Choose a Day on the Calendar, Descript the Event and click 'Add Event'"
			ng-model="event.message">

			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit">Add Event</button>
	       	</span>
		</form>
	</div>

</div><!-- end add event to calendar row -->


