
<!-- Header/bio -->
<div class="row">

	<div class="col-sm-12">
		<div ui-view="header"></div>
	</div>

</div><!-- end header/bio -->

<br />

<!-- message boxes -->
<div class="row">

	<div class="col-sm-12">
		<div ui-view="messages"></div>
	</div>

</div><!-- end messages-->

<br />

<!-- calendar/todo view -->
<div class="row">

	<div class="col-sm-12">
		<div ui-view="calendar"></div>
	</div>

</div><!-- end calendar/todo -->

<br />

<!-- photo view -->
<!-- <div class="row">

	<div class="col-sm-12">
		<div ui-view="photos"></div>
	</div>

</div> -->
<!-- end photo view -->


