<div class="row"><!-- start photo row -->

    <div class="col-sm-12">

        <button type="file" class="btn btn-success" 
        ngf-select="uploadPhoto($file)" 
        accept="image/*" ngf-max-size="3MB">Select File</button>

        <!-- only shown on photo upload -->
        <uib-progressbar class="progress-striped active" ng-show="f.progress >= 0" 
        type="success">
            <div ng-bind="f.progress + '%'"></div>
        </uib-progressbar><!-- end photo upload bar -->

    </div>

</div><!-- end photos -->

<br />

<div class="row">

    <div class="col-sm-12">
        <b>Photos</b> (click to enlarge):<br />
    </div>

    <div ng-repeat="photo in photos">            

        <div class="col-sm-4 photo_gallery">
            <div class="thumbnail">
                <a ng-href="(( photo.photo.photo))" target="_blank" class="img-responsive" alt="uploaded image">
                    <img ng-src="((photo.photo.thumbnail))">
                </a>
                <a ng-click="removePhoto(photo.id)">Remove Photo</a>
            </div>

        </div>

    </div>
    <p ng-show="!photos.length">No Photos</p>


</div>



