
<div class="row"><!-- start message display row -->

    <!-- user message view -->
    <uib-accordion class="col-sm-6">
        <div uib-accordion-group class="panel panel-primary" heading="(( profile.first_name))'s Messages (click to expand)" 
        is-open="status.isFirstOpen">

            <p ng-repeat="msg in messages | orderBy:'create_time':true">
                <a ng-click="removeMessage(msg.id)">(x)</a>
                <b>(( msg.create_time | date:'short' ))</b>: (( msg.message ))
            </p>

        </div>
    </uib-accordion>

    <!-- partner message view -->
    <uib-accordion class="col-sm-6">
        <div uib-accordion-group class="panel panel-success" heading="(( partner.first_name ))'s Messages" 
        is-open="status.isFirstOpen">

            <p ng-repeat="msg in partner.messages | orderBy:'create_time':true">
                <b>(( msg.create_time | date:'short' ))</b>: (( msg.message ))
            </p>

        </div>
    </uib-accordion>

</div><!-- end message display row -->

<!-- add new message -->
<div class="row">

    <div class="col-sm-12">
        <form class="input-group" ng-submit="addMessage()">
            <input type="text" class="form-control" placeholder="Add Message" 
            ng-model="message">

            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                Add Message</button>
            </span>
        </form>
    </div>

</div><!-- end add message -->
