<div class="row"><!-- start message display row -->

	<!-- user message view -->
	<div class="col-sm-2"></div>
	<div class="col-sm-5">

		<h4>(( profile.first_name ))'s Contacts</h4>

		<ul>
			<li ng-repeat="number in numbers">
				<a ng-click="removeContact(number.id)">(x)</a>
				<b>Name:</b> (( number.important_name )) <br />
				<b>Number:</b> (( number.important_number ))
			</li>
		</ul>

	</div>

	<!-- partner message view -->
	<div class="col-sm-5">
	
		<h4>(( partner.first_name))'s Contacts</h4>

		<ul>
			<li ng-repeat="number in partner_numbers">
				<b>Name:</b> (( number.important_name )) <br />
				<b>Number:</b> (( number.important_number ))
			</li>
		</ul>

	</div>

</div><!-- end message display row -->

<!-- add new message -->
<div class="row">

	<div class="col-sm-3"></div>

	<div class="col-sm-6">
	
		<form class="input-group" ng-submit="addContact()">

			<input type="text" class="form-control" placeholder="Name" 
			ng-model="important_name">

			<input type="text" class="form-control" placeholder="Phone Number" 
			ng-model="important_number">

			<span class="input-group-btn">
				<button class="btn btn-success" type="submit">Add Contact</button>
			</span>

		</form>

	</div>

</div><!-- end add message -->