   <div class="col-sm-6">

        <form class="form-horizontal">

        <p class="lead">

            Welcome to <strong>DISTANT LOVERS</strong>, exclusively designed for the couple in a long distance
            relationship.

            <br /><br />

            If you do not have an account, please <a ui-sref="login_register.register">register</a>. 

        </p>

        <br />

            <!-- username -->
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
    
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="username" ng-model="(( user.username ))">
                </div>
            </div>

            <!-- password -->
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
    
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" ng-model="(( user.password ))">
                </div>
            </div>

            <!-- submit button -->
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-10">
                    <button type="submit" class="btn btn-success" ng-click="login()">Login</button>
                </div>
            </div>      

        </form>

    </div>

    <div class="col-sm-6">

        
    </div>