<!-- static nav -->
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" ui-sref="check.find_partner">
            	DISTANT LOVERS | </a>

            <a class="navbar-brand" ui-sref="check.find_partner">
            	FIND PARTNER | </a>

            <a class="navbar-brand" href="#!" ng-click="logOut()">
                LOGOUT</a>

        </div>
    </div>
</nav>
<!-- end static nav -->

<div class="container"><ui-view></div>