
<div class="row">

    <div class="col-sm-4"><div ng-show="search_section">

    <h4>Search for your Partner by email:</h4>

        <form class="input-group" ng-submit="searchEmail()">

            <input type="text" class="form-control" placeholder="jane@example.com" 
            ng-model="(( email ))"">

            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Search</button>
            </span>

        </form>
        </div>
    </div>

    <div class="col-sm-8 lead">

        Before you can use <strong>Distant Lovers</strong>, you and your partner must have
        both signed-up. <br />
        Next, use the search box to enter your partner's e-mail. Once found, click the
        'Request Partner' link to send your partner a notification to confirm the request.

    </div>

</div>

<br />

<div class="row" ng-show="search_performed">

    <div class="col-sm-6">

        <h4>Results:</h4>

        <div class="col-sm-offset-1">

            <p ng-repeat="user in results">
                <strong>Full Name</strong>: (( user.first_name )) (( user.last_name )) <br />
                <strong>Email</strong>: (( user.email )) <br />
                <a href="#!" ng-click="sendPartnerReq(user.id)">
                    Request (( user.first_name )) as Partner</a> </br>
            </p>

            <p ng-show="!results.length">Email not found. Please try again.</p>
            
        </div>
    </div>

</div>

<div class="row" ng-show="partner_request" ng-hide="search_section">

    <div class="col-sm-6">

        <p class="lead">You recieved a Partner request. <br />
        You may accept or deny the request.
        </p>

        <div ng-repeat="user in who_is_the_requestor">
        
            <p class="lead">
                From: (( user.first_name )) (( user.last_name )) <br />
                Email: <a ng-href"(( user.email ))">(( user.email ))</a>
            </p>

            <button type="submit" class="btn btn-success" ng-click="acceptRequest( user.id )">
            Accept
            </button>

            <button type="submit" class="btn btn-danger" ng-click="denyRequest( notification.id )">
            Reject
            </button>

        </div>

    </div>

</div>

<br /><br />
