<form>
	<input type="text" ng-model="((email))" />
	<button type="submit" ng-click="search()">Search</button>  
</form>

<div ng-show="search_performed">
<h5>Search Results:</h5>
<ul>
	<li ng-repeat="user in results">
		(( user.first_name )) (( user.last_name ))
		(( user.email )) (( user.id )) <a ng-click="sendPartnerReq(user.id)">add partner</a>
	</li>
</ul></div>

<div ng-if="notifications.length > 0">

<pre ngif="response">Result: (( response ))</pre>

	<pre ng-repeat="user in requestor">
	(( notification.message )) from (( user.first_name )) (( user.last_name )), email: (( user.email ))
	</pre>

	<button type="submit" ng-click="acceptRequest()">ACCEPT REQUEST</button>  
	<button type="submit" ng-click="denyRequest()">REJECT REQUEST</button>

</div>
