<div class="row"><!-- start photo upload row -->
    <div class="col-sm-12">

        <button type="file" class="btn btn-success" 
        ngf-select="uploadPhoto($file)" ngf-pattern="'.jpg,.jpeg'"
        accept="image/*" ngf-max-size="3MB">Upload Photo</button>

    </div>
</div><!-- end photo upload -->

<!-- the user's photos, allowed to delete -->
<div class="row">
    <div class="col-sm-12">
        <h4><strong>My Photos</strong> (click to enlarge):</h4>
    </div>
</div>

<div class="row">
    <div ng-repeat="photo in photos" class="col-sm-4 photo_gallery">
        <div class="thumbnail">
            <a ng-href="(( photo.photo.full_size ))" target="_blank" 
            href="#!" class="img-responsive" alt="uploaded image">
                <img ng-src="(( photo.photo.medium_square_crop ))">
            </a>
            <a ng-click="removePhoto(photo.id)">Remove Photo</a>
        </div>
    </div>
</div>

<!-- their partners photos, cannot delete -->
<div class="row">
    <div class="col-sm-12">
        <h4><strong>(( partner.first_name ))'s Photos</strong> (click to enlarge):</h4>
    </div>
</div>

<div class="row">
    <div ng-repeat="photo in partner_photos" class="col-sm-4 photo_gallery">
        <div class="thumbnail">
            <a ng-href="(( photo.photo.full_size ))" target="_blank" 
            href="#!" class="img-responsive" alt="uploaded image">
                <img ng-src="(( photo.photo.medium_square_crop ))">
            </a>
        </div>
    </div>
</div>
