
<div class="row"><!-- calendar view row -->

	<!-- calendar view, first column -->
	<div class="col-sm-6">

		<div style="display:inline-block; min-height:290px;">
			<div uib-datepicker ng-model="event.date" class="well well-sm" 
			datepicker-options="options" ng-required="true"></div>
		</div>

	</div>

	<!-- user view -->
	<div class="col-sm-6">

		<ul class="list-group">
  			<li class="list-group-item list-group-item-danger">
  				<strong>Calendar Event:</strong>
  				 (( event.date | date:'mediumDate' )) (( todays_event ))
  			</li>
  		</ul>

		<!-- user events view -->
    	<uib-accordion>
	        <div uib-accordion-group class="panel panel-primary" 
	        heading="(( profile.first_name ))'s Events" 
	        is-open="status.isFirstOpen">

            <p ng-repeat="event in user_events">
                <a ng-click="removeUserEvent(event.id)">(x)</a>
                <strong>On (( event.date | date:'mediumDate' ))</strong>: (( event.message ))
            </p>

        	</div>
    	</uib-accordion>

    	<!-- partner events view -->
    	<uib-accordion>
	        <div uib-accordion-group class="panel panel-success" 
	        heading="(( partner.first_name ))'s Events (click to expand)">

            <p ng-repeat="event in partner_calendar">
                <strong>On (( event.date | date:'mediumDate' ))</strong>: (( event.message ))
            </p>

        	</div>
    	</uib-accordion>

	</div><!-- end partner event view -->

</div><!-- end calendar row -->

<!-- add event to calendar row -->
<div class="row">

	<div class="col-sm-12">
		<form class="input-group" ng-submit="addUserEvent()">
			<input type="text" class="form-control" 
			placeholder="Choose a Day on the Calendar, Enter an Event Description and click 'Add Event'" 
			ng-model="event.message">

			<span class="input-group-btn">
				<button class="btn btn-primary" type="submit">Add Event</button>
	       	</span>
		</form>
	</div>

</div><!-- end add event to calendar row -->


